body{
    display:flex;
    flex-direction: column;
    width:fit-content;
    justify-content: center;
    align-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.div{
    border: red 2px solid;

}
.welcome{
    display:flex;
    border: rgb(51, 2, 29) 2px solid;
    background-color: aqua;
    width:auto;
    font-size: 25pt;
    height: 500px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 0px;
}
.welcomestat{
    border: rgb(255, 251, 0) 2px solid;

}
.Title{
    border: rgb(36, 34, 105) 2px solid;
    display: flex;
    flex-direction: row;
    width:auto;

}

.Title1{
    display: flex;
    flex-direction: column;
    border: rgb(0, 0, 0) 2px solid;
}
.Title2{
    display: flex;
    flex-direction: column;
    border: rgb(0, 0, 0) 2px solid;  
}
.Title3{
    display: flex;
    flex-direction: column;
    border: rgb(0, 0, 0) 2px solid;
}

.title{
    justify-content: center;
    align-items: center;
    border: red 2px solid;
}
.text{

    text-align: center;
    border: red 2px solid;
}